.tab {
  position: relative;
  background-color: #e8e8e8; /* Default background for inactive tabs */
  color: #ffffff; /* Default text color for inactive tabs */
  font-weight: 500;

  &:first-of-type { 
    border-radius: 0 0 0 0;
 
    @mixin rtl {
      border-radius: 0 0 0 0;
    }
  }

  &:last-of-type {
    border-radius: 0 0 0 0;

    @mixin rtl {
      border-radius: 0 0 0 0;
    }
  }

  & + & {
    border-left-width: 0;

    @mixin rtl {
      border-right-width: 0;
      border-left-width: 1px;
    }
  }

  @mixin hover {
    background-color: white;
  }

  &[data-active] {
    z-index: 1;
    background-color: white; /* Active tab background color */
    color: gray; /* Active tab text color */
    /* border-color: black; */
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 0px;
  }

  &:not([data-active]) {
    background-color: #e8e8e8; /* Inactive tab background color */
    border-color: #e8e8e8;
    color: gray; /* Inactive tab text color */
    border-bottom: 1px solid #000000;
  }

  &:hover {
    background-color: white; 
    color: gray;
  }
}

/* .tabSection {
  
   color: #f36600 !important;

  &:not([data-active]) {
    color: #e8e8e8 !important;
  }
} */
