.list {
  display: flex; /* Ensure tabs are in a row */
  justify-content: space-between; /* Space out the tabs evenly */
  padding: 0 60px; /* Add padding to the left and right of the list */
  position: relative; /* Allow absolute positioning for the border */
}

.list::after {
  content: ''; /* Create a pseudo-element for the bottom border */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; /* Align it to the bottom of the list */
  height: 1px; /* Height of the border */
  background-color: #000000; /* Color of the border */
}

.tab {
  position: relative;
  background-color: #e8e8e8; /* Default background for inactive tabs */
  color: #333; /* Updated text color for visibility */
  font-weight: 500;
  padding: 10px 20px; /* Add padding for space inside the tab */
  margin: 0; /* Remove margin from individual tabs */

  @mixin hover {
    background-color: white;
  }

  &[data-active] {
    z-index: 1;
    background-color: white; /* Active tab background color */
    color: #000; /* Active tab text color */
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
  }

  &:not([data-active]) {
    background-color: #e8e8e8; /* Inactive tab background color */
    color: #000; /* Inactive tab text color */
  }

  &:hover {
    background-color: white; 
    color: #000;
  }
}
